@font-face {
    font-family: "ChakraPetch";
    src: url("' . __DIR__ . '/public/fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ChakraPetch";
    src: url("' . __DIR__ . '/public/fonts/Chakra_Petch/ChakraPetch-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
